{% extends "dashboard.html" %}
{% block conteudo %}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form class="formularioAjax"
            action="{% if usuario.id %}{{url('admin/usuarios/editar/'~usuario.id)}}{% else %}{{url('admin/usuarios/cadastrar')}}{% endif %}"
            method="post" enctype="multipart/form-data">
            {% if usuario.id %}
            <input type="hidden" name="id" value="{{ usuario.id }}">
            {% endif %}
            <div class="row">
                <div class="mb-3">
                    <label for="texto" class="form-label">Por favor, forneça as seguintes informações:</label>
                    <textarea name="texto" class="form-control ckeditor" rows="5"
                        placeholder="Renda mensal familiar e número de pessoas na família! Conte-nos sobre você">{{usuario.texto}}</textarea>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" name="nome" id="nome" value="{{usuario.nome}}" class="form-control"
                            placeholder="Nome">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" name="email" id="email" value="{{usuario.email}}" class="form-control"
                            placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                    </div>
                    <div class="mb-3">
                        <label for="url_video" class="form-label">Url Vídeo</label>
                        <input type="url" name="url_video" id="url_video" value="{{usuario.url_video}}"
                            class="form-control" placeholder="Url Vídeo">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" name="telefone" id="telefone" value="{{usuario.telefone}}"
                            class="form-control" placeholder="Telefone">
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" name="cpf" id="cpf" value="{{usuario.cpf}}" class="form-control"
                            placeholder="CPF">
                    </div>
                    <div class="mb-3">
                        <label for="anexos" class="form-label">Imagem</label>
                        <input type="file" name="anexos[]" multiple id="anexos" accept="" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" name="status">
                        <option value="1" {% if usuario.status=='1' %}selected{%endif%}>Ativo</option>
                        <option value="0" {% if usuario.status=='0' %}selected{%endif%}>Inativo</option>
                    </select>
                </div>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-dark"
                    value="{% if usuario.id %}Atualizar{% else %}Cadastrar{% endif %}">
            </div>
        </form>
    </div>
</div>
{% endblock %}