<!-- Modal AlterarEmail -->
<div class="modal fade" id="alterarSenha" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCadastroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-dark">
            <div class="modal-header bg-secondary">
                <h1 class="modal-title fs-5 fw-bold text-white" id="modalCadastroLabel">Alterar Senha</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'formularios/alterarSenha.html' %}
            </div>
        </div>
    </div>
</div>