{% extends 'base.html' %}
{% block conteudo %}

<div class="container my-5">
    <h1>Política de Transparência da Associação Grande Família</h1>
    <p>Na Associação Grande Família, estamos comprometidos com a transparência em todas as nossas atividades.
        Acreditamos que a transparência fortalece a confiança e o relacionamento com nossos membros, parceiros e
        comunidade em geral. Abaixo, delineamos nossa política de transparência de forma simples e objetiva:</p>

    <ol>
        <li><strong>Comunicação Aberta:</strong> Estamos sempre disponíveis para esclarecer dúvidas, fornecer
            informações e ouvir feedback. Você pode entrar em contato conosco por meio dos canais de comunicação
            disponíveis em nosso site.</li>
        <li><strong>Acesso à Informação:</strong> Comprometemo-nos a disponibilizar informações relevantes sobre nossas
            atividades, projetos e finanças. Informações como relatórios anuais, demonstrações financeiras e registros
            de atividades serão disponibilizadas de forma clara e acessível.</li>
        <li><strong>Prestação de Contas:</strong> Somos responsáveis perante nossos membros, doadores, parceiros e
            comunidade em geral. Prestaremos contas de nossas ações, decisões e uso de recursos de forma transparente e
            responsável.</li>
        <li><strong>Transparência Financeira:</strong> Asseguramos a transparência em nossas finanças, fornecendo
            informações detalhadas sobre receitas, despesas e alocação de recursos. Isso inclui a divulgação de
            relatórios financeiros auditados, quando aplicável.</li>
        <li><strong>Ética e Integridade:</strong> Comprometemo-nos a agir com integridade, ética e responsabilidade em
            todas as nossas atividades. Seguiremos padrões éticos elevados em todas as nossas interações e decisões.
        </li>
        <li><strong>Melhoria Contínua:</strong> Estamos comprometidos com a melhoria contínua de nossas práticas de
            transparência. Estaremos sempre buscando maneiras de aprimorar nossa comunicação, prestação de contas e
            transparência em todas as áreas de nossa atuação.</li>
    </ol>

    <p>Estamos aqui para servir e apoiar nossa comunidade. A coleta de dados é necessária para garantir que tenhamos
        todos os recursos para comprovar nossa legitimidade e para proporcionar os melhores serviços possíveis. Além
        disso, esses dados nos ajudam a entrar em contato, organizar visitas, receber doações, lembrar eventos
        importantes, como aniversários, entre outras finalidades.</p>

</div>
{% endblock %}