<!-- Modal Inscrição -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Bem-vindo à Associação Grande Família</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Obrigado por visitar a Associação Grande Família. Para acessar todos os recursos e interagir com nossa comunidade, faça seu cadastro:</p>
                <div class="text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalCadastro" class="btn btn-warning me-2 my-2">
                        <i class="fas fa-user-friends"></i> Cadastre-se
                    </a>
                </div>
                <p class="text-center">Já possui uma conta? Faça login:</p>
                <div class="text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalLogin" class="btn btn-outline-dark me-2 my-2">
                        Entrar
                    </a>
                </div>
                <p class="text-center">Se preferir, navegue como convidado para explorar nossos conteúdos.</p>
            </div>
        </div>
    </div>
</div>