<div class="card text-center border-0">
    <div class="card-header fw-bold bg-transparent">
        Alterar Senha:
    </div>
    <div class="card-body">
        <p><b>Olá, {{usuario.nome}} digite sua nova senha:</b></p>
        <form class="formularioAjax" action="{{url('alterar/senha/'~usuario.id)}}" method="post">
            <div class="form-floating mb-3">
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                <label for="senha">Senha</label>
            </div> 
            <!-- Removido o campo de confirmação da senha -->
            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-dark" value="Alterar Senha">
            </div>
        </form>
    </div>
</div>
