<header class="fundo5 py-4">
    <div class="container text-center">
        <small class="tempoCarregamento text-light">
            &copy;{{ "now"|date("Y") }} - {{constant('SITE_NOME')}}. Todos os direitos reservados.
            Executado em <b>{{tempoCarregamento()}}</b> segundos |
            <a class="text-light" href="https://www.instagram.com/devmoraiis/" target="_blank">
                <i class="fa-brands fa-instagram"></i> DevMorais
            </a>
        </small>
    </div>
</header>


